@import('../global-variables');

.aside {
    background-color: #007bff;
    height 100% !important;
}

ul li a {
    color $nav-link-color;
}
ul li a:hover {
    color $nav-link-color-hover;
}
ul li:hover {
    background: $nav-li-color
}