<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/" (click)="collapseNavbar()">Navbar</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"
        (click)="toggleNavbar()"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId" [ngSwitch]="isAuthenticated()" >
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/" (click)="collapseNavbar()">
                    <fa-icon icon="bicycle"></fa-icon>Home <span class="sr-only">(current)</span>
                </a>
            </li>

        </ul>
          
        <span class="navbar-text bike-username">{{nameUser}}</span>
        
        <div class="btn-group" *ngSwitchCase="true" >
            <button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Account
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Perfil</a>
                <button class="dropdown-item" (click)="logout()">Logout</button>
            </div>
        </div>
    </div>
</nav>