<div class="container">
    <app-count-user 
    [userFemale]="getCountFemale()" 
    [userMale]="getCountMale()"
    (typeOptionEvent)="setItemSelected($event)"
     ></app-count-user>

    <div class="row">
        <div class="col-12">

            <h3>Colaboradores</h3>
            <table class="table table-hover table-inverse table-responsive">
                <thead class="thead-inverse">
                    <tr>
                        <th>Nombres</th>
                        <th>Edad</th>
                        <th>Genero</th>
                        <th>Dependencia</th>
                    </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let item of listUsers">
                            <tr *ngIf="generoSelect === 'T' || item.genero === generoSelect" >
                                <td>{{item.nombres}}</td>
                                <td>{{item.edad}}</td>
                                <td>{{item.genero}}</td>
                                <td>{{item.dependencia}}</td>
                               
                            </tr>
                        </ng-container>
                       
                       
                    </tbody>
            </table>
        </div>
    </div>
</div>
