<h4>Sales</h4>
<div class="row">
    <div class="col-lg-12">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nobis ab recusandae laboriosam voluptatem! Consequuntur doloremque eaque fugit accusamus ullam animi iusto illo! Cumque natus perferendis expedita dignissimos recusandae iure doloremque!
    </div>
</div>
<div class="row">
   
    <div class="col-lg-12">
        <div class="row">

            <table class="table table-hover table-inverse table-responsive">
                <thead class="thead-inverse">
                    <tr>
                        <th>No Orden</th>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Documento</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Modelo</th>
                        <th>Serial</th>
                        <th>Precio</th>
                        <th>Imágen</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of salesList">
                        <td>{{item.id}}</td>
                        <td scope="row">{{item.dateSale | date: 'medium'}}</td>
                        <td>{{item.client.clientName}}</td>
                        <td>{{item.client.documentNumber}}</td>
                        <td>{{item.client.clientEmail}}</td>
                        <td>{{item.client.phoneNumber}}</td>
                        <td>{{item.bike.model}}</td>
                        <td>{{item.bike.serial}}</td>
                        <td>{{item.bike.price}}</td>
                        <td>                   
                             <img class="card-img-top sales-list-img"   [src]="'data:' + item.bike.imageContentType + ';base64,' + item.bike.image" style="max-height: 286px;" alt="bike image"/>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>