/* ==========================================================================
entity detail page css
========================================================================== */
/*.row.jh-entity-details > {
    dd {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > {
        dt {
            margin-bottom: 15px;
        }
        dd {
            border-bottom: 1px solid #eee;
            padding-left: 180px;
            margin-left: 0;
        }
    }
}
*/

.main-container {
    margin-top: 56px;
    margin-left: 235px !important;
    margin-bottom: 35px;
    padding: 15px;
    -ms-overflow-x: hidden;
    //overflow: hidden;
    position: relative;
}
.collapsed-main-container {
        margin-left: 75px !important;
    } 
.collapsed {
    margin-left: 70px;
    .footer-dashboard {
        left: 70px !important;
    }
}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0 !important;
    }
}

@media print {
    .main-container {
        margin-top: 0 !important;
        margin-left: 0 !important;
    }
}
/*

.safi-col-lg-none {
    width: 70px !important;
    margin-left: 0px !important;
}

.safi-sidebar {
    margin-left: -20px;
}
*/